body{
    margin: 0px;
    padding: 0px;
    font-size:20px;
    font-weight: bold;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Slabo 27px', serif; */
    /* font-family: 'Lora', serif; */
    color:rgba(7, 0, 32, 0.884)
}

.containerA{
    margin:auto;
    max-width:1000px;
    min-height:92vh;
    background-color: rgb(164, 164, 255);
    background-color: rgb(29, 119, 122);
    background-color: rgb(23, 93, 95);
    /* background-color:white; */
    padding: 15px;
}

nav{
    margin-bottom:30px;
}

.brand-logo{
    margin-left:20px;
}

@media only screen and (max-width: 600px) {

    .collection-item{
        font-size:15px;
    }

    #problem, li, #info{
        font-size:13px;
    }

    #problem{
        padding-bottom:0px;
    }

    .containerA{
        padding:0px;
    }

    #next, #prev, #reset, #loadInfo{
        font-size:10px;
        padding-bottom:10px;
        margin-bottom:5px;
    }
}

.abc, .choose{
    margin:15px;
    padding:30px;
    padding-top:15px;
}

h1{
    font-size:40px;
    padding: 15px;
    text-align: center;
}

#problem{
    padding:5px;
    padding-bottom: 15px;
    margin-bottom:10px;
}

#answer1,#answer2,#answer3,#answer4{
    margin-bottom:7px;
}



.manipulating{
    margin-top: 14px;
}

ul li{
    cursor:pointer;
    padding:5px;
}

p{
    padding: 3px;
    border: solid grey 1px;
    background-color:white;
    background-color:rgb(207, 207, 207);
}

#info{
    overflow: scroll;
}

#punkty{
    border: none;
    background-color: rgb(207, 207, 207);
    padding: 1px;
    font-size: 15px;
    margin-bottom: 10px;
}

.hide{
    display:block;
}

.page-footer{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}



/* ************************PRELOADER********************* */
#preloader-window{
    padding:100px;
    /* position:fixed;
    z-index:1000;
    background-color: rgb(164, 164, 255);
    width:80vw;
    
    height:100%;
    margin:auto; */
} 



/* *************************LICZNIK********************** */

#days, #hours, #minutes, #seconds{
    font-size:20px;
    color:#b0ffff;
}

#s1, #s2, #s3, #s4{
    font-size:12px;
    color:#b0ffff;
}

tr{
    text-align: center;
}

.countdownContainer{
    text-align: center;
}

#counterChanger{
    width:300px;
    margin-bottom:60px;
}

#changeCount{
    margin-top:15px;
}

@media only screen and (max-width: 600px){
    .counterSection{
        padding:15px;
    }
}



/* ****************************POMODORO************************/
@media only screen and (max-width: 600px){
    .pomodoroSection{
        padding:15px;
    }

    .pomodoroSection > button{
        margin:3px;
    }
}

#pomodoroCounter{
    font-family: 'Orbitron', sans-serif;
    font-size:35px;
    color:#b0ffff;
}



/* ***************************CONTACT**************************/
@media only screen and (max-width: 600px){
    .contact{
        padding:15px;
    }
}



/* *************************CURVE************************* */
@media only screen and (max-width: 600px){
    .curveSection{
        padding:15px;
    }
}