*{
    margin: 0px;
    padding: 0px;
    font-size:20px;
    font-weight: bold;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Slabo 27px', serif; */
    /* font-family: 'Lora', serif; */
    color:rgba(7, 0, 32, 0.884)
}

.container{
    /* margin:auto; */
    max-width:1000px;
    min-height:100vh;
    background-color: rgb(164, 164, 255);
}

nav{
    margin-bottom:30px;
}

/* nav{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
} */

/* nav ul{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    text-decoration: none;
} */

/* a{
    text-decoration: none;
} */

/* .menu{
    padding:5px;
    background-color: yellowgreen;
}

.menu:hover{
    background-color:white;
} */

.abc{
    margin:15px;
    padding:30px;
    padding-top:15px;
}

h1{
    font-size:40px;
    padding: 15px;
    text-align: center;
}

#problem{
    padding-bottom: 25px;
}

/* ul{
    margin-top:25px;
}

ul li{
    list-style: none;
    font-size:15px;
    margin:10px;
    padding:3px;
    cursor: pointer;
    border: solid grey 1px;
} */

/* #next, #loadInfo, #prev{
    margin:30px;
    cursor:pointer;
    border: solid grey 1px;
    padding:3px;
    border-radius: 10px;
}

#next:hover, #loadInfo:hover, #prev:hover{
    background-color:white;
} */

ul li{
    cursor:pointer;
}

p{
    padding: 3px;
    border: solid grey 1px;
    background-color:white;
}

#punkty{
    border: none;
    background-color: rgb(164, 164, 255);
    padding: 1px;
    font-size: 15px;
    margin-bottom: 10px;
}

.hide{
    display:block;
}



.page-footer{
    display:flex;
    margin:auto;
    max-width:945px;
    justify-content: center;
    align-items: center;
    color:white;
}